.textarea {
  position: relative;
  outline: none;
}

.words {
  font-size: 28px;
  line-height: 30px;
  color: #646669;

  margin: 0 auto;
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
  cursor: default;
}

.typing_words {
  position: absolute;
  top: 0.2em;
  left: 0.4em;
}

.input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
